# Ignorar arquivos de configuração do banco de dados
/database

# Ignorar arquivos de configuração de controle 
/controllers

# Ignorar arquivos de configuração de rotas
/routes

# Ignorar arquivos de dependências
/node_modules